@model IEnumerable<NBU_Mailer_2016_WEB.DAL.SPRUSNBU_BANKS>

@{
    ViewBag.Title = "Index";
}

<style>
    body {
        counter-reset: my-counter;
    }

    .cntd {
        counter-increment: my-counter;
    }

        .cntd:before {
            content: counter(my-counter);
        }
</style>

<h2 id="forCnt">Записей в таблице : </h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table" id="envelopesTabel">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDHOST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FNHOST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MFOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OKPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KTELE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KFASE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARTNER)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="cntd"></td>
            <td>
                @Html.DisplayFor(modelItem => item.IDHOST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FNHOST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MFOM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OKPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KTELE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KFASE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PARTNER)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.ID }) 
                @* | @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
        </tr>
    }

</table>

<script>
    var rowsCnt = document.getElementById("envelopesTabel").rows.length - 1;
    var tableHeaderTxt = document.getElementById("forCnt").innerHTML;
    document.getElementById("forCnt").innerHTML = tableHeaderTxt + rowsCnt;
</script>