@model IEnumerable<NBU_Mailer_2016_WEB.DAL.NBU_ENVELOPES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<style>
    .todayRow {
        background-color: #ebe9e9;
    }
    .correspCol {
        font-weight: 600;
    }
</style>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FROM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPRUSNBU_BANKS.FNHOST)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_SENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_DELIV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FILE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FILE_DATE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        bool isToday = DateTime.Now.Date == ((DateTime)item.DATE_SENT).Date;

        <tr @(isToday ? "class=todayRow" : "" )>
            <td>
                @Html.DisplayFor(modelItem => item.TO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FROM)
            </td>
            <td class="correspCol">
                @Html.DisplayFor(modelItem => item.SPRUSNBU_BANKS.FNHOST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_SENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_DELIV)
            </td>
            <td>
                @Html.ActionLink(item.FILE_NAME, "FileOpen", new { id = item.ID }, new { target = "_blank" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FILE_DATE)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }
</table>
